# Fastify API options
API_PORT=3000
AUTHENTICATION_KEY='UUID'

# Roblox Credentials
ROBLOSECURITY=''
ROBLOX_TOTP_SECRET=''

# Roblox settings
ROBLOX_GROUP_ID=123456

# Application settings
MAX_TRANSACTION_LIMIT=100

# Prisma database credentials
DATABASE_URL=''

# Notifier service
NOTIFIER_URL='http://localhost:3001'